*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: azure;
	header{
		background-image: url('../css/images/background.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 100vh;
	}
}